.custom_color_1 {
  color: #00c7f5;
}

.gray {
  color: #ababab;
}

@font-face {
  font-family: "Recipekorea";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wemakeprice-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.recipe_korea {
  font-family: Recipekorea;
}

.Wemakeprice_Bold {
  font-family: Wemakeprice-Bold;
}

.aRight {
  text-align: right !important;
}

body {
  min-width: 320px;
}

.App {
  max-width: 900px;
  margin-left: 20%;
  margin-right: 10%;
  padding-top: 50px;
}
.App a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.App #home_div #header_div #header_title_div {
  text-align: center;
  padding: 0px;
  height: 70px;
  line-height: 45px;
  border-bottom: solid 2px black;
  font-family: Recipekorea;
}
.App #home_div #header_div #header_title_div h2 {
  display: inline-block;
  color: #00c7f5 !important;
  margin: 0px 0px;
}
.App #home_div #header_div #category_div #category_list_div {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.App #home_div #header_div #category_div #category_list_div div {
  text-align: center;
  cursor: pointer;
  border: solid 1px #ababab;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  font-weight: bold;
}
.App #home_div #header_div #category_div #category_list_div #select_cat {
  color: white;
  background-color: #a7bbc7;
}
.App #home_div #my_profile_div {
  margin-top: 80px;
}
.App #home_div #my_profile_div #my_profile_info {
  margin-top: -15px;
  height: 200px;
  border: solid 1px #ababab;
  display: grid;
  grid-template-columns: 200px auto;
  overflow-y: hidden;
}
.App #home_div #my_profile_div #my_profile_info #profile_image_div {
  width: 200px;
  height: 260px;
  opacity: 0.9;
  border-right: solid 3px #ababab;
  background-repeat: no-repeat;
}
.App #home_div #my_profile_div #my_profile_info #developer_info_div {
  height: 170px;
  overflow: auto;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 30px;
}
.App #home_div #my_profile_div #my_profile_info #developer_info_div .info_grid_div {
  display: grid;
  grid-template-columns: 140px auto;
}
.App #home_div #home_idx_div #my_project_info {
  margin-top: 140px;
  padding-bottom: 40px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div {
  border: solid 1px #ababab;
  min-height: 200px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div {
  height: 150px;
  border-bottom: dotted 1px #ababab;
  display: grid;
  grid-template-columns: 150px auto;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_thumbnail_div {
  height: 150px;
  cursor: pointer;
  border-right: solid 1px #ababab;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_thumbnail_div .project_thumbnail {
  width: 147px;
  height: 150px !important;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_thumbnail_div .project_thumbnail img {
  object-fit: cover;
  width: 149px;
  height: 150px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_thumbnail_div .project_option_div {
  position: absolute;
  margin-top: -30px;
  margin-left: 5px;
  height: 20px;
  line-height: 25px;
  padding: 0px 5px;
  border: solid 1px black;
  border-radius: 6px;
  z-index: 1000;
  font-size: 12px;
  font-family: Recipekorea;
  color: #00c7f5;
  border: solid 2px black;
  display: inline-block;
  background-color: white;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div {
  padding: 15px 15px;
  max-width: 99%;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_title_grid_div {
  display: grid;
  grid-template-columns: 95% auto;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_title_grid_div .project_title_div {
  font-family: Recipekorea;
  max-width: 350px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_title_grid_div .project_title_div .project_keyword_div {
  display: inline-block;
  border: solid 1px black;
  height: 20px;
  padding: 0px 5px;
  line-height: 24px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 10px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_title_grid_div .project_move_icon_div img {
  width: 25px;
  cursor: pointer;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div {
  font-size: 13px;
  padding-left: 10px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_category_and_date_grid_div, .App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_skill_stack_div {
  margin-top: 5px;
  color: #ababab;
  font-family: Wemakeprice-Bold;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_category_and_date_grid_div {
  display: grid;
  grid-template-columns: 40% auto;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_category_and_date_grid_div .project_date_div {
  text-align: right;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_comment_div {
  height: 40px;
  line-height: 40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_skill_stack_div {
  margin-top: 15px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_web_div .project_skill_stack_div .project_skill_divs {
  display: inline-block;
  margin-right: 15px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div {
  display: none;
  margin-top: 15px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div .toggle_detail_info_button {
  font-size: 13px;
  color: #ababab;
  width: 100%;
  background-color: white;
  height: 40px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div #project_mobile_detail_info_div {
  min-height: 190px;
  margin-top: 20px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div #project_mobile_detail_info_div .detail_grid_div {
  display: grid;
  grid-template-columns: 100px auto;
  color: #ababab;
  font-family: Wemakeprice-Bold;
  font-size: 14px;
  height: 25px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div #project_mobile_detail_info_div #detail_skill_divs {
  color: #ababab;
  font-family: Wemakeprice-Bold;
  font-size: 14px;
  padding-left: 10px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div #project_mobile_detail_info_div #detail_skill_divs .detail_stack_divs {
  display: inline-block;
  margin-right: 15px;
}
.App #home_div #home_idx_div #my_project_info #project_list_div .project_info_div .project_detail_info_div .project_info_mobile_div #project_mobile_detail_info_div #detail_comment_div {
  max-height: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.App #home_div #home_idx_div #scrolling_end {
  text-align: center;
  font-family: Recipekorea;
  color: #ababab;
  height: 60px;
}

.index_div {
  margin: 40px 15px 0px 15px;
}
.index_div h4 {
  height: 40px;
  line-height: 40px;
  font-family: Recipekorea;
  color: #02475e;
}

#images_div #images_grid_div {
  display: grid;
  grid-template-columns: 90% auto;
}
#images_div #images_grid_div h3 {
  font-family: Recipekorea;
  padding-left: 15px;
}
#images_div #images_grid_div #image_close_icon_div {
  line-height: 70px;
  text-align: right;
  padding-right: 15px;
}
#images_div #images_grid_div #image_close_icon_div #close_icon {
  width: 25px;
  cursor: pointer;
}
#images_div #now_image_div {
  border: solid 1px #ababab;
  min-height: 300px;
}
#images_div #now_image_div img {
  object-fit: fill;
  width: 650px;
  height: 350px;
}
#images_div #image_list_div {
  margin-top: 15px;
  padding: 10px;
  border: solid 1px #ababab;
  height: 85px !important;
  max-height: 85px !important;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-width: 300px;
}
#images_div #image_list_div #select_image {
  border: solid 3px #00c7f5;
}
#images_div #image_list_div .image_list_divs {
  display: inline-block;
  width: 100px;
  height: 80px;
  margin-right: 15px;
  border: solid 1px #ababab;
}
#images_div #image_list_div .image_list_divs img {
  object-fit: cover;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .App {
    margin-left: 15%;
  }
}
@media (max-width: 1000px) {
  .App {
    margin-left: 12%;
  }
}
@media (max-width: 750px) {
  .info_grid_div {
    grid-template-columns: 100px auto !important;
  }
}
@media (max-width: 600px) {
  .App {
    margin-left: 0px;
    margin-right: 0px;
  }

  body #developer_info_div {
    min-width: 250px !important;
    max-width: 85% !important;
    width: 100% !important;
  }

  #images_div #now_image_div {
    min-height: 250px !important;
  }
  #images_div #now_image_div img {
    width: 100% !important;
    height: 250px !important;
  }
}
@media (max-width: 750px) {
  #my_profile_div #my_profile_info {
    display: block !important;
    background-color: black;
    height: auto !important;
    text-align: center;
    height: 200px !important;
  }
  #my_profile_div #my_profile_info #profile_image_div {
    height: 270px !important;
    opacity: 1 !important;
    border-right: none !important;
  }
  #my_profile_div #my_profile_info #developer_info_div {
    position: absolute;
    margin-top: -70px;
    min-width: 250px;
    max-width: 535px;
    width: 70%;
    background-color: white;
    text-align: left !important;
    height: auto !important;
  }
  #my_profile_div #my_profile_info #developer_info_div .info_grid_div {
    border-bottom: dotted 1px #ababab;
  }

  #my_project_info {
    margin-top: 340px !important;
  }

  .project_info_div {
    display: block !important;
    height: auto !important;
  }
  .project_info_div .project_thumbnail_div {
    background-color: black;
    width: 100%;
    height: 250px !important;
  }
  .project_info_div .project_thumbnail_div .project_thumbnail {
    width: 100% !important;
    text-align: center;
  }
  .project_info_div .project_thumbnail_div .project_thumbnail img {
    width: 350px !important;
    height: 250px !important;
  }
  .project_info_div .project_thumbnail_div .project_option_div {
    margin-top: 65px !important;
  }
  .project_info_div .project_info_web_div {
    display: none;
  }
  .project_info_div .project_info_mobile_div {
    display: block !important;
  }

  #scrolling_end {
    height: 50px;
    line-height: 20px;
    border: solid 2px black;
    background-color: black;
    color: white;
    opacity: 0.75;
  }

  #images_div #now_image_div {
    min-height: 320px;
  }
  #images_div #now_image_div img {
    width: 550px;
    height: 320px;
  }
}
@media (max-width: 385px) {
  .project_info_div .project_thumbnail_div {
    height: 250px !important;
  }
  .project_info_div .project_thumbnail_div .project_thumbnail img {
    width: 288px !important;
    height: 250px !important;
  }

  .project_title_div {
    width: 90% !important;
  }
}
@media (max-width: 370px) {
  #images_div {
    width: 90% !important;
    margin-left: 5% !important;
  }
  #images_div #now_image_div {
    min-height: 200px !important;
  }
  #images_div #now_image_div img {
    width: 100% !important;
    height: 200px !important;
  }
}
@media (max-width: 345px) {
  #images_div {
    width: 80% !important;
    margin-left: 10% !important;
  }
  #images_div #now_image_div img {
    width: 100% !important;
  }
  #images_div #image_list_div {
    min-width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
